<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
    <title>Barbearshop Sports</title>

  </head>

<body>
<section class="home">
  <div class="image-container">
    <img class="imagem" src="assets/logo.jpg" alt="Logomarca">
    <!-- <img class="imagem2" src="assets/icone.png" alt=""> -->
  </div>
  <div class="text-container" style="text-align: center;">
    <p style="font-size:30px; color: white; font-weight: bold;">BARBERSHOP SPORTS</p>
    <p style="font-size:20px; color: #b94343; font-weight: bold;">Seja bem-vindo</p>
  </div>
</section>
		<header>
			<div class="caixa">
				<nav>
					<ul>
						<li><a href="app.component.html">Home</a></li>
						<li><a href="produtos.component.html">Produtos</a></li>
						<li><a href="contato.component.html">Contato</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<img class="banner" src="assets/banner.jpg" alt="imagem barbeiro">

	<main>
		<section class="principal">

			<h2 class="titulo-principal">Sobre a Barbeshop Sports</h2>

			<img src="assets/icone.png" class="imagemicone" alt="icone pente e tesoura">

			<p>Em localização nobre de Santo André <strong>Barbeshop Sports</strong> traz para o mercado o que há de melhor para o seu cabelo e barba. Fundada em 2022, a Barbershop Sports já é destaque na cidade e conquista novos clientes a cada dia.</p>

			<p id="missao"><em>Nossa missão é: <strong>"Proporcionar auto-estima e qualidade de vida aos clientes"</strong>.</em></p>

			<p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda. O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.</p>

      <p>Temos uma linha de home care para manter seu cabelo e barba sempre alinhado. Serviço e cuidado home care em um só lugar! </p>
		</section>
  </main>
</body>


<p-toolbar>
  <div class="p-toolbar-button">
    <button pButton icon="pi pi-home" label="Home"></button>
    <button pButton icon="pi pi-calendar" label="Login"></button>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton icon="pi pi-search" label="Search"></button>
    <button pButton icon="pi pi-user" label="Profile"></button>
  </div>
</p-toolbar>

