<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
    <title>Campestre Barber & Sports</title>

  </head>


<body>

<section class="home">
  <div class="image-container">
    <img class="imagem" src="assets/logo.jpg" alt="Logomarca">

  </div>
  <div class="text-container">
    <p style="font-size:30px; color: white; font-weight: bold;">Campestre Barber & Sports</p>
    <p style="font-size:20px; color: #FF0000; font-weight: bold;">Seja bem-vindo</p>
    <div class="card">
      <p-toolbar>
        <div class="p-toolbar-start">
          <a routerLink="/home" class="mr-2" pButton label=" Home " icon="pi pi-check"></a>
          <a routerLink="/login" class="mr-2" pButton label=" Login " icon="pi pi-user"></a>
          <a routerLink="/produtos" class="mr-2" pButton label=" Produtos " icon="pi pi-search"></a>
          <a routerLink="/contato" class="mr-2" pButton label=" Agendamento " icon="pi pi-calendar"></a>
        </div>
      </p-toolbar>
    </div>
  </div>
</section>
		<!-- <header>
			<div class="caixa">
				<nav>
					<ul>
						<li><a href="home.component.html">Home</a></li>
						<li><a href="produtos.component.html">Produtos</a></li>
						<li><a href="contato.component.html">Contato</a></li>
					</ul>
				</nav>
			</div>
		</header> -->

	<img class="banner" src="assets/banner.jpg" alt="imagem barbeiro">

	<main>


		<section class="principal">

			<h2 class="titulo-principal">Sobre a Campestre Barber & Sports</h2>

			<img src="assets/icone.png" class="imagem-icone" alt="icone pente e tesoura">

			<p>Em localização nobre de Santo André <strong>Campestre Barber & Sports</strong> traz para o mercado o que há de melhor para o seu cabelo e barba. Fundada em 2022, a Barbershop Sports já é destaque na cidade e conquista novos clientes a cada dia.</p>

			<p id="missao"><em>Nossa missão é: <strong>"Proporcionar auto-estima e atendimento de qualidade aos nossos clientes"</strong>.</em></p>

			<p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda. O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos clientes.</p>

      <p>Temos uma linha de home care para manter seu cabelo e barba sempre alinhado. Serviço e cuidado home care em um só lugar! </p>
		</section>


  <section class="mapa">
    <div class="mapa-conteudo">
      <h3 class="titulo-principal">Localização</h3>
      <p>Nosso estabelecimento está localizado em bairro nobre de Santo André.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1536.818964352366!2d-46.54665817215207!3d-23.63329074056639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce431e7333d98d%3A0xe7203031069cef27!2sCampestre%20Barber%20Sports!5e0!3m2!1spt-BR!2sbr!4v1699728638911!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>

</main>
</body>


